extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci lectus, pretium blandit turpis vitae, maximus egestas diam. Duis in purus sodales ipsum pharetra interdum ut quis tellus. Integer non ante imperdiet, fringilla nisl vitae, condimentum elit. Integer luctus, dolor quis finibus cursus, nisl dui elementum dui, at varius orci ex sit amet diam. Aliquam vel arcu non turpis finibus lobortis.

                p Vivamus egestas tristique libero non euismod. Sed varius efficitur risus. Suspendisse nec fermentum mi. Donec porta, mi quis placerat rutrum, enim tortor tincidunt turpis, non placerat sem lacus eu nisl. Nam feugiat ex vitae elementum bibendum. In convallis vulputate tristique. Integer erat dolor, commodo ac lectus feugiat, pharetra elementum mi.

                p Vivamus vel efficitur neque. Aenean semper lectus nec molestie pretium. Suspendisse eget nisl urna. Pellentesque arcu quam, imperdiet non elit eget, consequat euismod massa. Cras turpis est, pretium blandit lacus ac, eleifend fringilla mauris. Phasellus varius orci quis ex malesuada, nec volutpat ante ultrices. Suspendisse dictum diam in augue gravida, non semper nisi hendrerit. Morbi non condimentum libero.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono de Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Vivamus vel efficitur neque. Aenean semper lectus nec molestie pretium. Suspendisse eget nisl urna. Pellentesque arcu quam.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono de Destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Vivamus vel efficitur neque. Aenean semper lectus nec molestie pretium. Suspendisse eget nisl urna. Pellentesque arcu quam.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono de Precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p  Vivamus vel efficitur neque. Aenean semper lectus nec molestie pretium. Suspendisse eget nisl urna. Pellentesque arcu quam.